.contact {
  margin: 0 auto 0;
  padding: 0 0 100px;
  max-width: 1140px;
  width: 89%;
}

.contact__title {
  font-weight: 100;
  font-size: 55px;
  line-height: 1.2;
  margin: 0 auto;
}

.contact__container {
  display: flex;
  flex-direction: column;
  margin: 50px auto 0;
  gap: 10px;
  width: 100%;
}

.contact__link {
  color: #131313;
  font-weight: 100;
  font-size: 20px;
  line-height: 1.4;
  margin: 0 auto;
}

.contact__subtitle {
  font-weight: 100;
  font-size: 20px;
  line-height: 1.4;
  margin: 0 auto;
  text-align: center;
  width: 75%;
}

.contact_images {
  display: flex;
  margin: 0 auto;
  justify-content: space-evenly;
  width: 100%;
}

.contact_img {
  width: 100%;
}

@media screen and (max-width: 1060px) {
  .contact {
    width: 92.18%;
  }
}

@media screen and (max-width: 885px) {
  .contact {
    width: 91.11%;
  }

  .contact__title {
    font-size: 35px;
  }

  .contact__container {
    flex-direction: column;
    /* gap: 30px; */
  }

  .contact_images {
    flex-direction: column;
    width: 91.11%;
    gap: 20px;
  }
}
