.header {
  max-width: 1140px;
  width: 90%;
  margin: 0 auto;
  padding: 16px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5px solid #fff;
  box-sizing: border-box;
  z-index: 200;
  position: relative;
}

.header__logo {
  width: 35px;
  height: 42px;
}

.header__list {
  display: flex;
  gap: 30px;
  list-style: none;
}

.header__link {
  font-size: 15px;
  line-height: 1.3;
  font-weight: 300;
}

@media screen and (max-width: 1024px) {
  .header {
    width: 92.18%;
    padding: 15px 0;
  }
}

@media screen and (max-width: 767px) {
  .header {
    width: 91.11%;
    min-width: 300px;
    padding: 14px 0;
  }

  .header__list {
    gap: 15px;
  }
}
