.page {
  min-width: 1280px;
  width: 100%;

  background-color: #ececec;
  color: #131313;
  font-family: inter;
  margin: 0 auto;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

@media screen and (max-width: 1279px) {
  .page {
    min-width: 1024px;
  }
}

@media screen and (max-width: 1023px) {
  .page {
    min-width: 768px;
  }
}

@media screen and (max-width: 767px) {
  .page {
    min-width: 320px;
  }
}
